/* This css file specifies the background /images for the divs showing my projects. */

/* html css projects */

#html-css-001 {
    background-image: url("/images/screenshots/html+css/001.avif");
}

#html-css-002 {
    background-image: url("/images/screenshots/html+css/002.avif");
}

#html-css-003 {
    background-image: url("/images/screenshots/html+css/003.avif");
}

#html-css-004 {
    background-image: url("/images/screenshots/html+css/004.avif");
}

#html-css-005 {
    background-image: url("/images/screenshots/html+css/005.avif");
}

#html-css-006 {
    background-image: url("/images/screenshots/html+css/006.avif");
}

#html-css-007 {
    background-image: url("/images/screenshots/html+css/007.avif");
}

/* html css javascript projects */

#html-css-js-001 {
    background-image: url("/images/screenshots/html+css+js/001.avif");
}

#html-css-js-002 {
    background-image: url("/images/screenshots/html+css+js/002.avif");
}

#html-css-js-003 {
    background-image: url("/images/screenshots/html+css+js/003.avif");
}

#html-css-js-004 {
    background-image: url("/images/screenshots/html+css+js/004.avif");
}

#html-css-js-005{
    background-image: url("/images/screenshots/html+css+js/005.avif");
}

#html-css-js-006{
    background-image: url("/images/screenshots/html+css+js/006.avif");
}

#html-css-js-007{
    background-image: url("/images/screenshots/html+css+js/007.avif");
}

#html-css-js-008{
    background-image: url("/images/screenshots/html+css+js/008.avif");
}

#html-css-js-009{
    background-image: url("/images/screenshots/html+css+js/009.avif");
}

#html-css-js-010{
    background-image: url("/images/screenshots/html+css+js/010.avif");
}

#html-css-js-011{
    background-image: url("/images/screenshots/html+css+js/011.avif");
}

#html-css-js-012{
    background-image: url("/images/screenshots/html+css+js/012.avif");
}