@media (min-width:2400px) {
    html {
        font-size: 90%;
    }

    .project {
        width: 427px;
        height: 240px;
    }

    .project-name {
        font-size: 20px;
    }

    .social-icons svg {
        width: 130px;
        height: 130px;
    }

    #fiverr-icon {
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 29px;
    }
}

@media (min-width:3600px) {
    html {
        font-size: 125%;
    }

    .project {
        width: 640px;
        height: 360px;
    }

    .project-name {
        font-size: 30px;
    }

    .social-icons svg {
        width: 200px;
        height: 200px;
    }

    #fiverr-icon {
        width: 300px;
        height: 300px;
        position: relative;
        bottom: 44px;
    }
}

@media (min-width:1000px) {
    .project-name {
        background-color: transparent;
        color: transparent;
    }

    .project:hover .project-name {
        background-color: red;
        color: white;
    }

    #facebook-icon {
        fill: white;
    }

    #instagram-icon {
        fill: white;
    }

    #fiverr-icon {
        fill: white;
    }

    #linkedin-icon {
        fill: white;
    }

    #github-icon {
        fill: white;
    }

    #facebook-icon:hover {
        fill: #1771e6;
    }

    #instagram-icon:hover {
        fill: #b420a1;
    }

    #fiverr-icon:hover {
        fill: #1dbf73;
    }

    #linkedin-icon:hover {
        fill: #1771e6;
    }

    #github-icon:hover {
        fill: purple;
    }
}

/* ehtsham hussain kamboh */

@media (max-width:1120) {
    html {
        font-size: 55%;
    }

    .hero-image {
        width: 40vw;
        height: 40vw;
    }
}

@media (max-width:730px) {
    html {
        font-size: 50%;
    }

    .hero-image {
        width: 50vw;
        height: 50vw;
    }

    .b-button {
        font-size: 3rem;
        width: 20rem;
    }
}

@media (max-width:600px) {
    html {
        font-size: 43%;
    }

    .hero-image {
        width: 60vw;
        height: 60vw;
    }
}

@media (max-width:500px) {
    html {
        font-size: 36%;
    }

    .social-icons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #facebook-icon,
    #instagram-icon {
        margin: 2rem auto 0 auto;
    }

    #fiverr-icon {
        margin-bottom: -9rem;
    }
}

@media (max-width:415px) {
    /* .projects-heading {
        font-size: 3rem;
    } */
    .project{
        width: 284px;
        height: 160px;
    }
    .hero-buttons{
        justify-content: center;
    }
    .intro{
        margin: 0 3rem;
    }
}