@font-face {
    font-family: Roboto;
    src: url(/Fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    user-select: none;
    text-decoration: none;
    line-height: 1.4;
    scroll-behavior: smooth;
}

/* colors */
:root {
    --main-bg-color: #2364AA;
    --sec-color: rgba(61, 165, 217);
    --sec-color-translucent: rgba(61, 165, 217, 0.25);
    --txt-color: white;
    --golden: #FEC601;
    --hover-color: rgba(255, 255, 255, 0.25);
    --btn-color-new: red;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url('/images/background.jpeg');
    background-color: var(--main-bg-color);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: scroll;
}

.container {
    /* width: 100vw; */
    margin: auto;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.hero-image {
    width: 38vw;
    height: 38vw;
    border-radius: 7vw;
    overflow: hidden;
    border-top: 0.5rem solid var(--btn-color-new);
    border-left: 0.5rem solid var(--btn-color-new);
    border-right: 0.5rem solid var(--btn-color-new);
    margin: 3rem 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
}

.hero-image img:hover {
    scale: 1.03;
    transition: 0.2s ease-in-out;
}

.intro {
    display: flex;
    flex-direction: column;
}

.intro h1 {
    font-size: 6rem;
    color: var(--txt-color);
}

.hi-text {
    color: var(--golden);
}

.i-am-text {
    font-size: 3rem;
}

.intro h2 {
    font-size: 4rem;
    color: var(--txt-color);
    overflow: hidden;
    border-right: 0.15em solid var(--btn-color-new);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(38, end), blinking 0.75s steps(1) infinite;
}

.frontend-dev {
    align-self: flex-start;
}

.hero-buttons {
    display: flex;
    justify-content: start;
    width: 100%;
    padding: 2rem 0;
    flex-wrap: wrap;
}

.b-button {
    background-color: var(--btn-color-new);
    color: var(--txt-color);
    font-size: 2.5rem;
    border-radius: 1.2rem;
    padding: 1rem 2rem;
    margin: 1rem 2.4rem 1rem 0;
    transition: 0.2s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    width: 17rem;
    text-align: center;
}

.b-button:hover {
    background-color: var(--sec-color-translucent);
    color: var(--golden);
}

hr {
    height: 0.5rem;
    color: var(--sec-color);
    background-color: var(--sec-color);
}

.projects-container {
    padding: 7vh 0;
}

.projects-heading {
    width: fit-content;
    margin: 0 auto;
    max-width: 90vw;
    background-color: var(--btn-color-new);
    border-radius: 1.2rem;
    font-size: 6rem;
    padding: 1rem 2rem;
    color: var(--txt-color);
    border: 3px solid transparent;
    transition: 0.2s ease-in-out;
}

.projects-heading:hover {
    background-color: transparent;
    color: var(--golden);
    background-color: var(--sec-color-translucent);
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
}

.other-heading{
    margin-top: 5rem;
}

.projects-card {
    width: fit-content;
    max-width: 90vw;
    /* height: 500px; */
    background-color: var(--sec-color-translucent);
    margin: 4vh auto 0 auto;
    padding: 1rem;
    border-radius: 1.2rem;
    border: 2px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects-card:hover{
    border-radius: 0;
}
/* ehtsham hussain kamboh */

.project {
    width: 320px;
    height: 180px;
    margin: 1rem;
    border-radius: 1.2rem;
    background-color: var(--txt-color);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    border: 1px solid transparent;
    display: grid;
    place-items: center;
    background-size: contain;
}

.project:hover {
    scale: 1.08;
    transition: 0.2s ease-in-out;
    border: 1px solid var(--golden);
}

.project img {
    height: 100%;
    width: 100%;
}

.project-name {
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 12px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

footer p {
    color: white;
    font-size: 6rem;
    margin: 3rem auto;
}

.social-icons {
    width: fit-content;
    margin: 0 auto 6rem auto;
    display: flex;
    flex-wrap: wrap;
}

.social-icons svg {
    margin: 0 3rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#facebook-icon {
    fill: #1771e6;
}

#instagram-icon {
    fill: #b420a1;
}

#fiverr-icon {
    fill: #1dbf73;
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 22px;
}

#linkedin-icon{
    fill: #1771e6;
}

#github-icon{
    fill: purple;
    width: 100px;
    height: 100px;
}