* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(86, 219, 86);
    --border-color: green;
}

html {
    font-size: 62.5%;
}

.container {
    min-height: 100vh;
    border: 2rem solid var(--border-color);
    background-color: var(--bg-color);
}

.name,
.bottom-section ul,
.bottom-section p,
.bottom-section h4{
    padding: 0 5rem;
}

.top-section {
    display: flex;
    justify-content: space-around;
    width: 90vw;
}

.image-container {
    margin: 10rem 0 0 0;
    border-radius: 30rem;
    overflow: hidden;
}

.image-container img {
    width: 44.9rem;
    height: 59.9rem;
}

.name {
    display: flex;
    flex-direction: column;
    margin-top: 56.9rem;
}

.name h1 {
    font-size: 6rem;
    color: var(--border-color);
}

.name h4 {
    font-size: 2.2rem;
    text-align: end;
}

.bottom-section {
    width: 90vw;
    margin: 10rem auto;
}

.bottom-section p {
    font-size: 2.2rem;
}

.bottom-section h4 {
    font-size: 3.6rem;
    margin: 5rem 0 2rem 0;
    color: var(--border-color);
}

.bottom-section ul li {
    list-style: circle;
    font-size: 2.2rem;
}

#link-text {
    text-align: end;
    margin-top: 5rem;
    font-size: 2.4rem;
}