* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

html{
    font-size: 62.5%;
}

.hero_section {
    background-image: url(images/developer.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    background-position: center center;
    padding: 1rem 3rem;
}

.text-container {
    color: rgb(255, 255, 255);
}

.text-container h2 {
    font-size: 5rem;
}

.text-container h2 span,
.text-container h1 {
    font-size: 8rem;
}

.black-box {
    height: fit-content;
    padding: 1rem 3rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.black-box span {
    font-size: 10rem;
}

.work {
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0px;
    background-color: lightblue;
    flex-wrap: wrap;
}

.card {
    max-width: 365px;
    height: 500px;
    border-radius: 12px;
    background-color: navy;
    color: white;
    /* padding: 18px 33px; */
    transition: 0.3s ease-in-out;
    margin: 20px 20px;
}

.card:hover {
    scale: 1.07;
}

.image-container img {
    width: 100%;
    border-radius: 12px;
}

.card-content {
    margin: 20px 12px;
    font-size: 17px;
}

.bottom-section {
    display: flex;
    background-color: lightblue;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* ehtsham hussain kamboh */

.contact,
.about {
    width: 60rem;
    background-color: navy;
    color: white;
    margin: 5.1rem;
    border-radius: 12px;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.contact:hover,
.about:hover {
    scale: 1.07;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    font-size: 2rem;
    background-color: black;
    color: white;
}