*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    animation: shakeBody 3s linear infinite;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(images/background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}

.trees{
    width: 100%;
    height: 100vh;
    background-image: url(images/trees.avif);
    background-size: cover;
    position: absolute;
    animation: shakeTrees 3s linear infinite;
}

.track{
    height: 40vh;
    width: 300vw;
    background-image: url(images/track.avif);
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    animation: carMove 0.5s linear infinite;
}

.car{
    height: 146px;
    width: 360px;
    background-image: url(images/car-without-tyres.avif);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 15vw;
    bottom: 26vh;
    animation: shake 0.3s linear infinite;
}

.wheel img{
    width: 56px;
    height: 56px;
    animation: wheelRotation 0.3s linear infinite;
}

.wheel-left{
    position: absolute;
    left: 14%;
    top: 56%;
}

.wheel-right{
    position: absolute;
    left: 74%;
    top: 56%;
}

@keyframes wheelRotation {
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove {
    100%{
        transform: translateX(-200vw);
    }
}

@keyframes shake {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}

@keyframes shakeBody {
    0%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
    }
}

@keyframes shakeTrees {
    0%{
        transform: translateY(-60px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(-60px);
    }
}