@font-face {
    font-family: 'comic';
    src: url(/COMIC.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: comic, 'Times New Roman', Times, serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section {
    width: 590px;
    height: 350px;
    max-width: 90vw;
    max-height: 90vh;
    background-color: #bde0fe;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 100%;
    text-align: center;
}

.heading h1 {
    font-size: 4.8rem;
    font-weight: 400;
    padding: 4% 10%;
}

.display {
    width: 90%;
    height: 30%;
    margin: 2% auto 0 auto;
    background-color: #a2d2ff;
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display p {
    font-size: 3.6rem;
}

.button-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    padding: 1% 3%;
    margin: 10% 10%;
    background-color: #ffafcc;
    font-size: 2.2rem;
    border: 2 px solid black;
    border-radius: 1rem;
}

button:hover {
    background-color: #ffc5da;
}