@font-face {
    font-family: 'comic';
    src: url(/Fonts/COMIC.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: comic, 'Times New Roman', Times, serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('background.avif');
    background-color: #2364AA;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section {
    width: 590px;
    height: 350px;
    max-width: 90vw;
    max-height: 90vh;
    background-color: rgba(61, 165, 217, 0.25);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    width: 100%;
    text-align: center;
}

.heading h1 {
    font-size: 4.8rem;
    font-weight: 400;
    padding: 4% 10%;
    color: white;
}

.display {
    width: 90%;
    height: 30%;
    margin: 2% auto 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display p {
    font-size: 3.6rem;
}

.button-section {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    padding: 1% 3%;
    background-color: green;
    color: white;
    font-size: 2.2rem;
    border: 2 px solid black;
    border-radius: 1rem;
}

.reset-button{
    background-color: red;
    color: white;
}

.reset-button:hover{
    background-color: rgb(253, 91, 91);
}

button:hover {
    background-color: rgb(0, 161, 0);
    cursor: pointer;
}