* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    user-select: none;
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
    line-height: 1.4;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

:root {
    --main-dark-color: #004E98;
    --main-light-color: #3A6EA5;
    --btn-color: #FF6700;
    --bg-dark: #C0C0C0;
    --bg-light: #EBEBEB;
}

.nav-container {
    background-color: var(--main-dark-color);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5vw;
    position: sticky;
    top: 0;
}

.nav-container h1 {
    font-size: 2.8rem;
}

.nav-container h1:hover {
    scale: 1.2;
}

.nav-container ul {
    display: flex;
    list-style: none;
    font-size: 1.8rem;
    align-items: center;
}

.nav-container ul a {
    text-decoration: none;
}

.nav-container ul a li {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    color: white;
}

.nav-container ul li:hover {
    background-color: var(--main-light-color);
    cursor: pointer;
}

.hero-section {
    background: linear-gradient(0deg, rgba(16, 18, 126, 0.425), rgba(255, 0, 150, 0.3)), url(images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 6.92rem);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero-section h2 {
    font-size: 6rem;
}

.hero-section h2:hover {
    color: var(--btn-color);
}

.hero-section h3 {
    font-size: 3rem;
    max-width: 90vw;
}

.hero-section h4 {
    font-size: 1.6rem;
    max-width: 60vw;
}

.music-section {
    background-color: var(--main-light-color);
    text-align: center;
    height: 70rem;
    padding: 7rem 20vw;
    color: white;
}

.music-section:hover svg {
    fill: var(--btn-color);
}

.music-section * {
    margin: 1rem auto;
}

.music-section svg {
    width: 5rem;
    height: 5rem;
    margin-bottom: -1rem;
    fill: var(--bg-light);
}

.music-section h2 {
    font-size: 4rem;
}

.music-section h4 {
    font-size: 1.5rem;
}

.trial-btn {
    background-color: var(--btn-color);
    color: white;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.8rem;
    border: 0.3rem solid transparent;
    border-radius: 1rem;
}

.trial-btn:hover {
    background-color: transparent;
    color: var(--btn-color);
    border: 0.3rem solid var(--btn-color);
}

.ipad-iphone-img img {
    max-width: 70vw;
}

.ipad-iphone-img img:hover,
.mac-img img:hover,
.gift-card img:hover {
    scale: 1.05;
}

.about-music {
    margin: 40rem auto 10rem auto;
    text-align: center;
}

.about-music *,
.video-section * {
    margin: 1.6rem auto;
}

.about-music h3,
.video-section h3 {
    font-size: 2.5rem;
    max-width: 90vw;
}

.about-music p,
.video-section p {
    font-size: 1.3rem;
    max-width: 60vw;
}

.secondary-btn {
    padding: 1rem 2rem;
    background-color: var(--main-dark-color);
    border: 2px solid var(--main-dark-color);
    color: white;
}

.secondary-btn:hover {
    background-color: white;
    color: var(--main-dark-color);
    border: 2px solid var(--main-dark-color);
}

.mac-img img {
    width: 122rem;
    max-width: 60vw;
}

.video-section {
    height: 80rem;
    display: grid;
    place-content: center;
    text-align: center;
    color: white;
    background-image: url(images/entertainment.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.gift-section {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 10rem 0;
}

.gift-card,
.gift-content {
    width: 40%;
}

.gift-card img {
    width: 70%;
}

.gift-content * {
    margin: 1rem;
    line-height: 1.4;
}

.gift-content {
    display: flex;
    flex-direction: column;
}

.gift-content h3 {
    font-size: 2.5rem;
}

.gift-content p {
    font-size: 1.3rem;
}

.footer-upper {
    background-color: var(--main-dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links {
    margin: 2rem 5rem;
    width: 250px;
}

.footer-links * {
    margin: 1rem 0;
    color: white;
}

.footer-links h4 {
    font-size: 2rem;
}

.footer-links ul li {
    list-style: none;
    font-size: 1.3rem;
}

.footer-lower {
    background-color: var(--main-light-color);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 0;
}

@media (max-width:1100px) {
    .about-music {
        margin: 30rem auto 10rem auto;
    }
}

@media (max-width:800px) {
    .about-music {
        margin: 20rem auto 10rem auto;
    }
    .nav-container{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:520px) {
    .about-music {
        margin: 10rem auto 10rem auto;
    }
}

@media (max-width:327px) {
    .about-music {
        margin: 20rem auto 10rem auto;
    }
}