@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tsukimi+Rounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Tsukimi+Rounded&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    background-color: bisque;
    overflow: scroll;
}

nav {
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 5rem;
    background-color: black;
    color: white;
}

.brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
}

nav img {
    width: 4rem;
    padding-right: 0.8rem;
}

.container {
    height: calc(100vh - 2vh - 5rem - 11rem);
    font-family: 'Tsukimi Rounded', sans-serif;
    display: flex;
    background-image: url(background.avif);
    background-size: cover;
    background-position: right;
    overflow: hidden;
    color: white;
    width: 80%;
    border-radius: 1.6rem;
    margin: 1vh auto;
    padding: 1.6rem;
}

.songBanner {
    width: 40%;
}

.songDiv {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
}

.songDiv h1 {
    font-size: 3.6rem;
}

.songList {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    gap: 1%;
}

.songItem {
    width: 90%;
    border: 2px solid #00d856;
    border-radius: 32px;
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 1% 2%;
}

.playCircle {
    width: 26px;
    height: 26px;
    fill: white;
}

.playCircle:hover{
    fill: #5ed28c;
    cursor: pointer;
}

.songItem h2 {
    font-size: 1.6rem;
}

.bottom {
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 11rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
    font-size: 2rem;
}

.sliderDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-end;
    gap: 1%;
}

#songProgressBar {
    width: 85%;
    accent-color: #00d856;
    margin-top: 1.2rem;
}

.iconsDiv {
    display: flex;
    margin-top: 1.2rem;
}

.iconsDiv svg {
    width: 1.8rem;
    fill: white;
    margin: 0 1.8rem;
}

#play-svg {
    width: 2.8rem;
}

.iconsDiv svg:hover {
    cursor: pointer;
    fill: #5ed28c;
}

@media screen and (max-width: 1400px) {
    .songDiv {
        width: 100%;
    }

    .songList {
        width: 95%;
    }
}

@media screen and (max-width: 1100px) {
    .songBanner {
        display: none;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 950px) {
    html {
        font-size: 54%;
    }
}

@media screen and (max-width: 817px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 40%;
    }
}