@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

svg{
    cursor: pointer;
}

.nav-bar {
    height: 60px;
    display: flex;
    background-color: #0F0F0F;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.nav-left svg {
    padding-left: 12px;
}

.search-pill {
    width: 40vw;
    display: flex;
    align-items: center;
}

.search-pill input {
    width: 90%;
    padding: 12px 14px;
    background-color: #0F0F0F;
    border: 1px solid #666;
    border-radius: 24px 0 0 24px;
    font-weight: bolder;
    font-size: 18px;
}

.search-icon-div{
    background-color: #353535;
    /* width: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #666;
    border-left: none;
    padding: 12px 14px;
    border-radius: 0 24px 24px 0;
}

.search-icon-div:hover{
    cursor: pointer;
    background-color: #414141;
}

.voice-search-icon-div{
    padding: 8px 8px;
    background-color: #353535;
    border-radius: 50%;
    display: flex;
    margin-left: 22px;
    align-items: center;
}

.voice-search-icon-div:hover{
    cursor: pointer;
    background-color: #414141;
}

.nav-right{
    display: flex;
    align-items: center;
}

.user-avatar{
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.nav-right *{
    margin-right: 22px;
}