*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(background.avif);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.clock-body{
    width: 666px;
    height: 666px;
    max-width: 95vmin;
    max-height: 95vmin;
    border-radius: 100%;
    background-color: rgba(183, 2, 249, 0.323);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 90%;
    height: 90%;
    background-image: url(circle-clock.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
