@media screen and (max-width:916px) {
    nav{
        flex-direction: column;
    }
    nav ul li{
        margin: 12px 17px;
    }
    .container{
        padding-top: 189px;
    }
    .card{
        height: 222px;
    }
    .product{
        width: 200px;
        height: 200px;
        font-size: 45px;
        margin: 10px 0 0 10px;
    }
}

@media (max-width:414px){
    #search-button{
        margin: 10px;
    }
    .search{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container{
        padding-top: 245px;
    }
    .card{
        height: 150px;
    }
    .product{
        height: 140px;
        width: 140px;
        margin: 5px 0 0 5px;
        font-size: 32px;
    }
}