* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

:root {
    --main-bg-color: navy;
    --sec-color: rgb(255, 211, 218);
}

header {
    background-color: var(--main-bg-color);
    color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}

nav {
    display: flex;
}

.logo img {
    width: 150px;
    height: 58px;
    padding: 0 10px 0 0;
}

nav ul li {
    list-style: none;
    margin: 0 17px;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li a:hover {
    color: var(--sec-color);
}

.search input {
    width: 300px;
    height: 40px;
    margin: 10px 20px;
    border: 2px solid lightgray;
    border-radius: 14px;
    padding: 0 12px;
}

.search input:hover {
    padding: 0 20px;
    border: 2px solid var(--sec-color);
}

#search-button {
    padding: 7px;
    background-color: var(--main-bg-color);
    font-weight: 800;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#search-button:hover {
    color: var(--sec-color);
}

.container {
    padding: 90px 0 75px 0;
    min-height: calc(100vh - 58px - 50px);
    background-color: rgb(226, 226, 226);
    display: grid;
    justify-content: center;
    grid-row-gap: 30px;
    grid-template-rows: auto auto auto auto auto;
}

.card {
    background-color: white;
    width: 90vw;
    height: 370px;
    border-radius: 22px;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    box-shadow: 0 0 20px rgba(1, 0, 0, 0.3);
    overflow-x: scroll;
}

/* ehtsham hussain kamboh */

.product {
    background-color: var(--sec-color);
    width: 320px;
    height: 320px;
    border-radius: 22px;
    font-size: 5em;
    user-select: none;
    cursor: pointer;
    color: var(--sec-color);
    margin: 25px 0 0 11px;
}

.product:hover {
    background-color: white;
    border: 2px solid hotpink;
    color: hotpink;
}

footer {
    background-color: var(--main-bg-color);
    color: white;
    height: 50px;
    position: relative;
    z-index: 2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}